/* Саша начало */
    .subtitle__simulator {
        font-size: 3em;
        font-family: "Acrom";
        font-weight: 700;
        position: relative;
        z-index: 2;
    }

    .main__simulator {
        text-align: center;
        background-image: url('../img/paint.png');
        background-position: center;
        background-repeat: no-repeat;
        min-height: 227px;
        margin-bottom: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main__background_simulator {
        background-repeat: no-repeat;
        position: absolute;
        top: 68%;
        right: 0%;
        z-index: 0;
    }

    .main__colortext {
        color: #6777FF;
    }

    .subtitle__trainer {
        font-family: "Acrom";
        font-size: 2.3em;
        font-weight: 700;
        color: #03008D;
        margin-left: 11%;
    }

    .main__img_trainer {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }

    .main__background_trainer {
        background-repeat: no-repeat;
        position: absolute;
        top: 143%;
        left: 0%;
        z-index: 0;
    }

    .main__section_boeing {
        font-family: "Acrom";
        font-weight: 700;
        position: relative;
        display: grid;
        grid-template-columns: 5fr 7fr;
        grid-template-rows: 1fr;
        min-height: 943px;
        margin-bottom: 100px;
        margin-left: 5%;
    }

    .main__textblock {
        margin-left: 30%;
        margin-top: 5%;
        position: relative;
        z-index: 5;
    }

    .main__textblock_mobile {
        display: none;
    }

    .main__subtitle_you {
        margin-left: -1rem;
        font-size: 6em;
        font-weight: 700;
        color: #6777FF;
        margin-bottom: -8%;
    }

    .main__subtitle_try {
        font-size: 1.6em;
        color: black;
    }

    .main__subtitle_manage {
        font-size: 2em;
        color: black;
        margin-top: -1.4rem;
    }

    .main__subtitle_jet {
        font-size: 2em;
        font-weight: 700;
        color: #6777FF;
        margin-top: -1.7rem;
    }

    .main__photoblock {
        background-image: url('../img/man-background.jpg');
        background-size: 103%;
        background-repeat: no-repeat;
        position: relative;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        z-index: 1;
        top: -15%;
    }

    .header {
        background-color: #6777FF;
        position: relative;
        z-index: 2;
    }

    .nav__hamburger {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 196px;
    }

    .nav__logo {
        margin-right: 37px;
    }

    .nav__menu {
        color: white;
        text-decoration: none;
        margin-right: 31px;
        font-size: 0.8em;
        margin-left: 10px;
    }

    .nav__contacts {
        align-self: center;
        margin-top: -2%;
    }

    .nav__address {
        color: white;
        text-transform: uppercase;
        font-size: 0.8em;
        text-align: right;
        margin-bottom: 10px;
        padding-right: 100px;
    }

    .nav__phone {
        margin-left: 100px;
        font-weight: bold;
    }

    .nav__phone_img {
        margin-right: 20px;
    }

    .main__gradient-block {
        position: absolute;
        right: 40%;
        top: 0;
        background-size: 85%;
        background-repeat: no-repeat;
    }

    .main__table_boeing {
        position: absolute;
        top: 66%;
        right: 90%;
        width: 60%;
        min-height: 20rem;
        border-radius: 25px;
        text-align: center;
        background-color: #E5E5E5;
        z-index: 5;
    }


    .table__header_boeing {
        font-size: 1.5em;
        background-color: #6777FF;
        text-transform: uppercase;
        color: white;
        border-radius: 25px 25px 0 0;
    }

    .table__row_boeing {
        background: url(../img/Line\ 1.svg) center bottom / 80% no-repeat;
    }

    .table__min {
        font-size: 1.5em;
        font-weight: bold;
    }

    .main__table_boeing-rotate {
        display: none;
    }

    .table__cost {
        font-size: 1.5em;
        font-weight: bold;
        color: #03008D;
    }

    /* Саша конец */

    /* Ильвина начало */

    @font-face {
        font-family: "Datcub";
        src: url("../fonts/DatcubLight.ttf");
        font-weight: 300;
    }

    @font-face {
        font-family: "Acrom";
        src: url("../fonts/Acrom-Bold.woff");
        font-style: normal;
        font-weight: 700;
    }

    @font-face {
        font-family: "Acrom";
        src: url("../fonts/Acrom-ExtraBold.woff");
        font-style: normal;
        font-weight: 800;
    }

    @font-face {
        font-family: "Gilroy";
        src: url("../fonts/Gilroy-Semibold600.woff");
        font-style: normal;
        font-weight: 600;
    }

    @font-face {
        font-family: "Gilroy";
        src: url("../fonts/Gilroy-Medium500.woff");
        font-style: normal;
        font-weight: 500;
    }

    .main__section_fly-program {
        background:
            url(../img/background_circles_fly-program.svg) top -250% center / 100% no-repeat;
    }

    .main__subtitle_fly-program {
        margin-left: 12%;

        font-family: 'Acrom', sans-serif;
        font-weight: 700;
        font-size: 2.3em;
        text-transform: uppercase;

        color: #03008D;
    }

    .pagination__fly-program {
        margin: 3% auto 2% 11%;
    }

    .pagination__page-number {
        font-family: "Datcub", sans-serif;
        font-weight: 300;
        font-size: larger;

        color: #6777FF;
    }

    .pagination__page-flip,
    .pagination__page-number_dark {
        color: #03008D;
    }

    .container_fly-program {
        padding: 0 10% 0 0;
        margin-bottom: 10%;
        margin-left: 12%;
    }

    .card_fly-program {
        width: 95%;

        border: none;
    }

    .card-header:first-child {
        border-radius: 30px 30px 0 0;
    }

    .card-header_fly-program {
        padding: 5% 5% 4% 7%;
        font-family: 'Acrom', sans-serif;
        font-weight: 700;
        font-size: 1.5em;
        text-transform: uppercase;

        background-color: #6777FF;
        color: #FFF;
    }

    .card-body_fly-program {
        padding: 0;
    }

    .card-text_fly-program {
        margin-top: 6%;

        font-family: 'Gilroy', sans-serif;
        font-weight: 500;

        color: #000;
    }

    .btn_fly-program {
        padding: 0 6% 1% 6%;
        border-radius: 100px;

        font-family: 'Gilroy', sans-serif;
        font-weight: 500;
        font-size: 0.7em;

        background-color: #6777FF;
        color: #FFF;
    }

    .main__section_certificate {
        background: url(../img/background_certificate.png) 0% 0% / 100% no-repeat;
        position: relative;

        min-height: 70rem;
        padding-top: 6%;

        text-transform: uppercase;
    }

    .main__section-man {
        background: url(../img/dad_son_background.svg) 0% 0% / 100% no-repeat;
        position: absolute;
        top: 3%;
        left: 7%;
        width: 45%;
        min-height: 55rem;
    }

    .main__subtitle_certificate {
        margin: 15% 15% 1% 47%;

        font-family: 'Gilroy', sans-serif;
        font-weight: 600;
        font-size: 1.7em;

        color: white;
    }

    .main__table_second {
        width: 32%;
        min-height: 18rem;
        margin-left: 47%;
        border-radius: 25px;

        text-align: center;

        background-color: #E5E5E5;
    }


    .table__header {
        border-radius: 25px 25px 0 0;

        font-family: 'Acrom', sans-serif;
        font-weight: 700;
        font-size: 1.4em;
        line-height: 250%;

        background-color: #6777FF;
        color: #FFF;
    }

    .table__row {
        background: url(../img/Line\ 1.svg) center bottom / 80% no-repeat;
    }

    .table__min_second {
        font-family: 'Acrom', sans-serif;
        font-weight: 800;
        font-size: 1.2em;

        color: #000;
    }

    .table__cost_second {
        font-family: 'Acrom', sans-serif;
        font-weight: 700;
        font-size: 1.2em;
    }

    /* 
Ильвина конец */

    /* Катя начало */

    .main__subtitle_plane {
        text-align: center;
        padding-top: 8%;
        font-family: 'Acrom', Arial, sans-serif;
        font-weight: 700;
        font-size: 2.3em;

        text-transform: uppercase;

        color: #03008D;
    }

    .card_feedback {
        background-color: rgba(229, 229, 229, 1);
        border-radius: 1em;
    }

    .container__plane {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .main__img-boeing {
        padding-right: 5%;
        height: 35%;
        width: 50%
    }

    .main__img-airbus {
        padding-left: 3%;
        height: 30%;
        width: 50%;
    }

    .main__list {
        list-style-type: none;
        margin: 0 auto;
        display: flex;
        margin-bottom: 3%;
    }

    .main__list_boeing {
        flex-direction: column;

    }

    .main__list_airbus {
        flex-direction: column;
        text-align: end;
        margin-left: 3%;
    }

    .list__item_boeing::before {
        content: url('../img/dashPlane.svg');
    }

    .list__item_airbus::after {
        content: url('../img/dashPlane.svg');
    }

    .list__item_airbus,
    .list__item_boeing {
        margin: 10px;
    }


    .main__content {
        margin-left: 14%;
        background-image: url('../img/mainTextBackground.svg');
        background-size: 87%;
        background-repeat: no-repeat;
        min-height: 20rem;
    }

    .main__text {
        font-family: 'Gilroy', Arial, sans-serif;
        text-align: center;
        padding-top: 3%;
        padding-right: 17%;
        font-size: 1em;
    }

    .main__subtitle_feedback,
    .main__subtitle_instructor {
        padding-left: 11%;
        margin: 4%;
        font-family: 'Acrom';
        font-weight: 700;
        font-size: 2.3em;

        text-transform: uppercase;

        color: #03008D;
    }

    .main__subtitle_contacts {
        padding-left: 11%;
        margin: 4%;
        font-family: 'Acrom';
        font-weight: 700;
        font-size: 2em;

        text-transform: uppercase;

        color: #03008D;
    }

    .card_feedback {
        height: 100%;
    }

    .card-text {
        font-family: 'Gilroy', Arial, sans-serif;
    }


    .page-item {
        font-size: 1.5em;
    }

    /* 
Катя конец */



    /* Ирина начало */
    .all__instructors {
        display: flex;
        justify-content: space-around;
        width: 70%;
    }

    .item__instructor {
        background-color: #6777FF;
        margin: 0px 15px 0px 15px;
        border-radius: 20px;
        height: 390px;
    }

    .item__instructor a {
        color: white;
    }

    .container__instructor {
        display: flex;
        justify-content: center;
    }

    .name__instructor {
        font-size: 24px;
        font-weight: 700;
    }

    .description__instructor {
        font-size: 24px;
        font-weight: 400;
    }

    .name__instructor,
    .description__instructor {
        margin-left: 20px;
    }

    .ticket__certificate {
        display: flex;
        justify-content: center;
        padding-top: 5vh;
    }

    .ticket__butt button {
        background-color: #6777FF;
        color: white;
        font-size: 44px;
        border-radius: 25px;
        width: 600px;
        border: none;
    }

    .header__footer {
        font-size: 25px;
        color: black;
    }

    .main__footer {
        border: 1px solid black;
        /* display: flex; */
        justify-content: center;
        background-color: #6777FF;
        height: 1700px;
        border-radius: 40px 40px 0px 0px;
    }

    .foto__vitrina {
        margin-top: 54px;
        background-image: url('../img/tft.png');
        background-repeat: no-repeat;
        height: 440px;
        background-size: cover;
    }

    .map__footer {
        background-image: url('../img/map.png');
        background-repeat: no-repeat;
        height: 628px;
    }

    .footer__down {
        display: flex;
        justify-content: space-around;
        color: white;
        font-size: 30px;
    }

    .footer__contacts {
        text-align: left;
        margin-top: 60px;
        text-transform: uppercase;
    }

    .footer__logo {
        text-align: right;
    }

    .footer__email {
        margin-top: 100px;
    }

    .footer__phone {
        margin-top: 60px;
    }

    .footer__company__logo {
        margin-top: 60px;
    }

    .footer__subscribe {
        margin-top: 100px;
    }

    .footer__social {
        margin-top: 60px;
    }

    /* Ирина конец */

@media screen and (min-width:768px) and (max-width: 1023px) {
    /* Саша начало */

    .subtitle__simulator {
        font-size: 2.3em;
    }

    .main__background_simulator {
        top: 100%;
        width: 50%;
    }

    .main__background_trainer {
        top: 120%;
        width: 50%;
    }

    .main__photoblock {
        top: -5%;
    }

    .nav {
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 4%;
    }

    .nav__menu {
        margin-left: 5%;
    }

    .nav__contacts {
        position: absolute;
        align-self: flex-start;
        margin-top: 3%;
        margin-right: -10%;
    }

    .nav__phone {
        margin-left: 100px;
    }

    .main__gradient-block {
        left: -40%; 
        height: 50rem; 
    }

    .main__table_boeing {
        display: none;
    }

    .main__table_boeing-rotate {
        display: inline-table;
        position: relative;
        top: 49%;
        right: 82%;
        width: 183%;
        border-radius: 25px;
        text-align: center;
        background-color: #E5E5E5;
        z-index: 5;
    }

    .table__header_boeing-rotate {
        font-size: 3em;
        padding-left: 20%;
        padding-right: 20%;
        background-color: #6777FF;
        text-transform: uppercase;
        color: white;
        border-radius: 25px 25px 0 0;
    }

    .table__min-rotate {
        font-size: 2.5em;
        font-weight: bold;
        border-right: 2px solid black;
    }

    .table__cost-rotate {
        font-size: 1.5em;
        font-weight: bold;
        color: #03008D;
        border-right: 2px solid black;
    }

    .table__border-rotate {
        border-right: none;
    }

    /* Саша конец */

    /* Ильвина начало */

    .main__subtitle_fly-program {
        margin-left: 3%;

        font-size: 1.5em;
    }

    .pagination__fly-program {
        margin: 3% auto 2% 2%;
    }

    .container_fly-program {
        margin-left: 1%;
    }

    .card-header_fly-program {
        font-size: 1em;
    }

    .card-text_fly-program {
        margin-top: 3%;
    }

    .btn_fly-program {
        padding: 1% 6% 0 6%;
    }

    .main__subtitle_certificate {
        font-size: 1.3em;
    }

    .main__table_second {
        width: 40%;
        min-height: 13rem;
    }

    .table__header {
        font-size: 1.1em;
    }

    .table__cost_second,
    .table__min_second {
        font-size: 0.9em;
        font-weight: 900;
    }

    /* Ильвина конец */

    /* Катя начало */
    /* Катя конец */

    /* Ирина начало */
    /* Ирина конец */

}

@media screen and (max-width: 767px) {

    /* Саша начало */
    @font-face {
        font-family: "Datcub";
        src: url("../fonts/DatcubLight.ttf");
        font-weight: 300;
    }

    @font-face {
        font-family: "Acrom";
        src: url("../fonts/Acrom-Bold.woff");
        font-style: normal;
        font-weight: 700;
    }

    @font-face {
        font-family: "Acrom";
        src: url("../fonts/Acrom-ExtraBold.woff");
        font-style: normal;
        font-weight: 800;
    }

    @font-face {
        font-family: "Gilroy";
        src: url("../fonts/Gilroy-Semibold600.woff");
        font-style: normal;
        font-weight: 600;
    }

    @font-face {
        font-family: "Gilroy";
        src: url("../fonts/Gilroy-Medium500.woff");
        font-style: normal;
        font-weight: 500;
    }


    /* Гамбургер меню начало*/

    #menu__toggle {
        opacity: 0;
    }


    .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50px;
        left: 82%;
        width: 35px;
        height: 35px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgb(206, 193, 193);
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #6777FF;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        visibility: visible;
        left: 0;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    /* Гамбургер меню конец*/


    .subtitle__simulator {
        font-size: 1em;
        font-family: "Acrom";
        font-weight: 700;
        position: relative;
        z-index: 2;
        padding: 5%;
    }

    .main__simulator {
        text-align: center;
        background-image: url('../img/paint.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 15%;
    }

    .main__background_simulator {
        display: none;
        background-repeat: no-repeat;
        position: absolute;
        top: 68%;
        right: 0%;
        z-index: 0;
    }

    .main__colortext {
        color: #6777FF;
    }

    .subtitle__trainer {
        font-family: "Acrom";
        font-size: 1.3em;
        font-weight: 700;
        color: #03008D;
        margin-left: 11%;
    }

    .main__img_trainer {
        display: block;
        margin: 0 auto;
        width: 103%;
        margin-bottom: 20%;
    }

    .main__background_trainer {
        background-repeat: no-repeat;
        position: absolute;
        top: 200%;
        left: 0%;
        z-index: 0;
        width: 20rem;
    }

    .main__section_boeing {
        font-family: "Acrom";
        font-weight: 700;
        position: relative;
        min-height: 50rem;
        display: block;
        margin-left: 0%;
    }

    .main__textblock {
        display: none;
        margin-top: 80%;
        position: relative;
        z-index: 2;

    }

    .main__textblock_mobile {
        display: flex;
        justify-content: center;
        z-index: 4;
        padding-top: 100%;
        gap: 15px;
    }

    .main__subtitle_you-mobile {
        margin-left: -3%;
        font-size: 3em;
        font-weight: 700;
        color: #6777FF;
        margin-bottom: -20%;
    }

    .main__subtitle_try-mobile {
        font-size: 0.7em;
        color: black;
    }

    .main__subtitle_manage-mobile {
        font-size: 1.5em;
        color: black;
        margin-top: 8%;
    }

    .main__subtitle_jet-mobile {
        font-size: 1.7em;
        font-weight: 700;
        color: #6777FF;
        margin-top: -1.7rem;
    }


    .main__photoblock {
        background-image: url('../img/man-background.jpg');
        min-height: 40rem;
        margin-top: 0%;
        background-size: 103%;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
    }

    .header {
        background-color: #6777FF;
        position: relative;
        z-index: 2;
    }

    .nav__hamburger {
        display: block;
        position: relative;
        min-height: 196px;
    }

    .nav {
        display: none;
        justify-content: center;
        align-items: center;
        min-height: 196px;
    }

    .nav__logo {
        margin-right: 37px;
    }

    .nav__logo_hamburger {
        position: absolute;
        margin-left: 10%;
        margin-top: 15%;
    }

    .nav__menu {
        color: white;
        text-decoration: none;
        margin-right: 31px;
        font-size: 0.8em;
        margin-left: 10px;
    }

    .nav__contacts {
        align-self: center;
        margin-top: -2%;
    }

    .nav__address {
        color: white;
        text-transform: uppercase;
        font-size: 0.8em;
        text-align: right;
        margin-bottom: 10px;
        padding-right: 100px;
    }

    .nav__phone {
        margin-left: 100px;
        font-weight: bold;
    }

    .nav__phone_img {
        margin-right: 20px;
    }

    .main__gradient-block {
        display: none;
        position: absolute;
    }

    .main__table_boeing {
        position: absolute;
        left: 5%;
        width: 90%;
        min-height: 20rem;
        border-radius: 25px;
        text-align: center;
        background-color: #E5E5E5;
        z-index: 5;
        top: 79%;
    }


    .table__header_boeing {
        font-size: 1.5em;
        background-color: #6777FF;
        text-transform: uppercase;
        color: white;
        border-radius: 25px 25px 0 0;
    }

    .table__row_boeing {
        background: url(../img/Line\ 1.svg) center bottom / 80% no-repeat;
    }

    .table__min {
        font-size: 1.5em;
        font-weight: bold;
    }

    .main__table_boeing-rotate {
        display: none;
    }

    .table__cost {
        font-size: 1.5em;
        font-weight: bold;
        color: #03008D;
    }

    /* Саша конец */

    /* Ильвина начало */
    .main__subtitle_fly-program {
        margin-left: 3%;
        font-size: 1.5em;
    }

    .pagination__fly-program {
        margin: 3% auto 2% auto;
        font-size: 0.8em;
    }

    .container_fly-program {
        margin-left: 4%;
    }

    .card__fly-program_dubai {
        display: none;
    }

    .card-header_fly-program {
        font-size: 1.1em;
    }

    .card-text_fly-program {
        margin-top: 2%;
    }

    .btn_fly-program {
        padding: 1% 6% 0 6%;
    }

    .main__section_certificate {
        background: url(../img/background_mobile_certificate.png) top 20% center / 100% no-repeat;
    }

    .main__section-man { 
        display: none;
    }

    .main__subtitle_certificate {
        margin-left: 5%;
        margin-right: 5%;

        font-size: 1.2em;

        color: #03008D;
    }

    .main__table_second {
        width: 90%;
        min-height: 15rem;
        margin-left: 5%;
        margin-top: 98%;
    }

    .table__header {
        padding: 3% 2%;

        font-size: 1em;
    }

    .table__cost_second,
    .table__min_second {
        font-size: 0.9em;
        font-weight: 900;
    }

    /* Ильвина конец */

    /* Катя начало */
    .main__subtitle_plane {
        text-align: center;
        padding-top: 8%;
        font-family: 'Acrom', Arial, sans-serif;
        font-weight: 700;
        font-size: 2.3em;

        text-transform: uppercase;

        color: #03008D;
    }

    .card_feedback {
        background-color: rgba(229, 229, 229, 1);
        border-radius: 1em;
    }

    .container__plane {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .main__img-boeing {
        height: auto;
        max-width: 50%
    }

    .main__img-airbus {
        height: auto;
        max-width: 50%;
    }

    .main__list {
        list-style-type: none;
        margin: 0 auto;
        display: flex;
        margin-bottom: 3%;
    }

    .main__list_boeing {
        flex-direction: column;

    }

    .main__list_airbus {
        flex-direction: column;
        text-align: end;
        margin-left: 3%;
    }

    .list__item_boeing::before {
        content: url('../img/dashPlane.svg');
    }

    .list__item_airbus::after {
        content: url('../img/dashPlane.svg');
    }

    .list__item_airbus,
    .list__item_boeing {
        margin: 5%;
    }


    .main__content {
        margin-left: 14%;
        background-image: url('../img/mainTextBackground.svg');
        background-size: 87%;
        background-repeat: no-repeat;
        min-height: 20rem;
    }

    .main__text {
        font-family: 'Gilroy', Arial, sans-serif;
        text-align: center;
        padding-top: 3%;
        padding-right: 17%;
        font-size: 1em;
    }

    .main__subtitle_feedback {
        padding-left: 11%;
        margin: 4%;
        font-family: 'Acrom';
        font-weight: 700;
        font-size: 2.3em;

        text-transform: uppercase;

        color: #03008D;
    }

    .card_feedback {
        height: 100%;
    }

    .card-text {
        font-family: 'Gilroy', Arial, sans-serif;
    }


    .page-item {
        font-size: 1.5em;
    }

    /* Катя конец */

    /* Ирина начало */
    /* Ирина конец */
}