/* Саша начало */
.header {
    background-color: #6777FF;

}
.nav {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    min-height: 196px;
}
.nav__logo {
    margin-right: 37px;
}
.nav__menu {
    color: white;
    text-decoration: none;
    margin-right: 31px;
}
.nav__phone {
    
}
.subtitle__simulator {
    font-size: 3em;
}
.main__simulator {
    text-align: center;
    background-image: url('../img/paint.png');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 227px;
    margin-top: 197px;
    margin-bottom: 218px;
}
.main__img_trainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
/* Саша конец */

/* Ильвина начало */

.card_fly-program {
    width: 70%;
}

.main__section_certificate {
    background-image: url(../img/background_certificate.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    min-height: 50rem;
}

.main__table {
    background-color: #E5E5E5;
}

.table__header {
    background-color: #6777FF;
}

/* 
Ильвина конец */

/* Катя начало */

.main__content {
    text-align: center;
    background-image: url('../img/mainTextBackground.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 20rem;
}

.card_feedback {
    background-color: rgba(229, 229, 229, 1);
    border-radius: 1em;
}

.container__plane {
    display: flex;
    flex-direction: inline-block;
    justify-content: center;
}

.img-boeing {
    padding-right: 5%;
}

.main__list {
    list-style-type: none;
    margin: 0 auto;
    display: flex;
}

.main__list_boeing {
    flex-direction: column;
    justify-content: start;
    padding-bottom: 20%;
}

.main__list_airbus {
    flex-direction: column;
    justify-content: end;
    padding-bottom: 20%;
    text-align: end;
}

.list__item_boeing::before {
    content: url('../img/dashPlane.svg');
}

.list__item_airbus::after {
    content: url('../img/dashPlane.svg');
}

.list__item_airbus,
.list__item_boeing {
    margin: 1em;
}


/* 
Катя конец */



/* Ирина начало */
.all__instructors {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.item__instructor {
    background-color: #6777FF;
    margin: 0px 15px 0px 15px;
    border-radius: 20px;
    height: 390px;
}

.item__instructor a {
    color: white;
}

.container__instructor {
    display: flex;
    justify-content: center;
}

.name__instructor {
    font-size: 24px;
    font-weight: 700;
}

.description__instructor {
    font-size: 24px;
    font-weight: 400;
}

.name__instructor,
.description__instructor {
    margin-left: 20px;
}