/* Саша начало */
.header {
    background-color: #6777FF;

}
.nav {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    min-height: 196px;
}
.nav__logo {
    margin-right: 37px;
}
.nav__menu {
    color: white;
    text-decoration: none;
    margin-right: 31px;
}

.nav__phone {}

.subtitle__simulator {
    font-size: 3em;
}
.main__simulator {
    text-align: center;
    background-image: url('../img/paint.png');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 227px;
    margin-top: 197px;
    margin-bottom: 218px;
}
.main__img_trainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
/* Саша конец */

/* Ильвина начало */

/* * {
    border: 1px solid salmon;
} */

.card_fly-program {
    width: 70%;
}

.main__section_certificate {
    background: url(../img/dad_son_background.svg) left 20% top 5% / 38% no-repeat,
        url(../img/cloud_left.svg) left 12% center / 14% no-repeat,
        url(../img/cloud_right.svg) top center / 15% no-repeat,
        url(../img/background_certificate.svg) center / 90% no-repeat;

    min-height: 50rem;
    padding-top: 15%;

    text-transform: uppercase;
}

.main__subtitle_certificate {
    margin: 0 15% 1% 45%;
    color: white;
}
.main__table_second {
    width: 30%;
    min-height: 15rem;
    margin-left: 45%;
    border-radius: 25px;

    text-align: center;
    background-color: #E5E5E5;
}


.table__header {
    border-radius: 27px 27px 0 0;
    line-height: 300%;
    background-color: #6777FF;
}

.table__row {
    background: url(../img/Line\ 1.svg) center bottom / 80% no-repeat;
}

/* 
Ильвина конец */

/* Катя начало */

.main__content {
    text-align: center;
    background-image: url('../img/mainTextBackground.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 20rem;
}

.card_feedback {
    background-color: rgba(229, 229, 229, 1);
    border-radius: 1em;
}

.container__plane {
    display: flex;
    flex-direction: inline-block;
    justify-content: center;
}

.img-boeing {
    padding-right: 5%;
}

.main__list {
    list-style-type: none;
    margin: 0 auto;
    display: flex;
}

.main__list_boeing {
    flex-direction: column;
    justify-content: start;
    padding-bottom: 20%;
}

.main__list_airbus {
    flex-direction: column;
    justify-content: end;
    padding-bottom: 20%;
    text-align: end;
}

.list__item_boeing::before {
    content: url('../img/dashPlane.svg');
}

.list__item_airbus::after {
    content: url('../img/dashPlane.svg');
}

.list__item_airbus,
.list__item_boeing {
    margin: 1em;
}

.card_feedback {
    height: 100%;
}

.page-item {
    padding: 7px;
    font-size: 2em;
}

/* 
Катя конец */



/* Ирина начало */
.all__instructors {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.item__instructor {
    background-color: #6777FF;
    margin: 0px 15px 0px 15px;
    border-radius: 20px;
    height: 390px;
}

.item__instructor a {
    color: white;
}

.container__instructor {
    display: flex;
    justify-content: center;
}

.name__instructor {
    font-size: 24px;
    font-weight: 700;
}

.description__instructor {
    font-size: 24px;
    font-weight: 400;
}

.name__instructor,
.description__instructor {
    margin-left: 20px;
}

.ticket__certificate {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.ticket__butt button {
    background-color: #6777FF;
    color: white;
    font-size: 44px;
    border-radius: 25px;
    width: 600px;
    border: none;
}

.header__footer {
    font-size: 25px;
    color: black;
}

.main__footer {
    border: 1px solid black;
    /* display: flex; */
    justify-content: center;
    background-color: #6777FF;
    height: 1700px;
    border-radius: 40px 40px 0px 0px;
}

.foto__vitrina {
    margin-top: 54px;
    background-image: url('../img/tft.png');
    background-repeat: no-repeat;
    height: 440px;
    background-size: cover;
}

.map__footer {
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    height: 628px;
}

.footer__down {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 30px;
}

.footer__contacts {
    text-align: left;
    margin-top: 60px;
    text-transform: uppercase;
}

.footer__logo {
    text-align: right;
}

.footer__email {
    margin-top: 100px;
}

.footer__phone {
    margin-top: 60px;
}

.footer__company__logo {
    margin-top: 60px;
}

.footer__subscribe {
    margin-top: 100px;
}

.footer__social {
    margin-top: 60px;
}

/* Ирина конец */