@font-face {
    font-family: "Datcub";
    src: url("../fonts/DatcubLight.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Acrom";
    src: url("../fonts/Acrom-Bold.woff");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Acrom";
    src: url("../fonts/Acrom-ExtraBold.woff");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Semibold600.woff");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium500.woff");
    font-style: normal;
    font-weight: 500;
}
