.main__section_fly-program {
    background:
        url(../img/background_circles_fly-program.svg) top -250% center / 100% no-repeat;
}

.main__subtitle_fly-program {
    margin-left: 12%;

    font-family: 'Acrom', sans-serif;
    font-weight: 700;
    font-size: 2.3em;
    text-transform: uppercase;

    color: #03008D;
}

.pagination__fly-program {
    margin: 3% auto 2% 11%;
}

.pagination__page-number {
    font-family: "Datcub", sans-serif;
    font-weight: 300;
    font-size: larger;

    color: #6777FF;
}

.pagination__page-flip,
.pagination__page-number_dark {
    color: #03008D;
}

.container_fly-program {
    /* padding: 0 10% 0 0; */
    margin-bottom: 10%;
    /* margin-left: 12%; */
}

.card_fly-program {
    width: 95%;

    border: none;
}

.card-header:first-child {
    border-radius: 30px 30px 0 0;
}

.card-header_fly-program {
    padding: 5% 5% 4% 7%;
    font-family: 'Acrom', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;

    background-color: #6777FF;
    color: #FFF;
}

.card-body_fly-program {
    padding: 0;
}

.card-text_fly-program {
    margin-top: 6%;

    font-family: 'Gilroy', sans-serif;
    font-weight: 500;

    color: #000;
}

.btn_fly-program {
    padding: 0 6% 1% 6%;
    border-radius: 100px;

    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 0.7em;

    background-color: #6777FF;
    color: #FFF;
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    
    .main__subtitle_fly-program {
        margin-left: 3%;

        font-size: 1.5em;
    }

    .pagination__fly-program {
        margin: 3% auto 2% 2%;
    }

    .container_fly-program {
        margin-left: 1%;
    }

    .card-header_fly-program {
        font-size: 1em;
    }

    .card-text_fly-program {
        margin-top: 3%;
    }

    .btn_fly-program {
        padding: 1% 6% 0 6%;
    }
}

@media screen and (max-width: 767px) {
    .main__subtitle_fly-program {
        margin-left: 3%;
        font-size: 1.3em;
    }

    .pagination__fly-program {
        margin: 3% auto 2% auto;
        font-size: 0.8em;
    }

    .container_fly-program {
        margin-left: 4%;
        /* margin-bottom: -4%; */
    }

    .card__fly-program_dubai {
        display: none;
    }

    .card-header_fly-program {
        font-size: 1.1em;
    }

    .card-text_fly-program {
        margin-top: 2%;
    }

    .btn_fly-program {
        padding: 1% 6% 0 6%;
    }
}