.subtitle__simulator {
    font-size: 3em;
    font-family: "Acrom";
    font-weight: 700;
    position: relative;
    z-index: 2;
}

.main__simulator {
    text-align: center;
    background-image: url('../img/paint.png');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 227px;
    margin-bottom: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__background_simulator {
    background-repeat: no-repeat;
    position: absolute;
    top: 68%;
    right: 0%;
    z-index: 0;
}


    

.main__colortext {
    color: #6777FF;
}

.subtitle__trainer {
    font-family: "Acrom";
    font-size: 2.3em;
    font-weight: 700;
    color: #03008D;
    margin-left: 11%;
}

.main__img_trainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 100%;
}

.main__background_trainer {
    background-repeat: no-repeat;
    position: absolute;
    top: 143%;
    left: 0%;
    z-index: 0;
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    /* Саша начало */

    .subtitle__simulator {
        font-size: 2.3em;
    }

    .main__background_simulator {
        top: 100%;
        width: 50%;
    }

    .main__background_trainer {
        top: 120%;
        width: 50%;
    }
}

@media screen and (max-width: 767px) {

    

    .subtitle__simulator {
        font-size: 1em;
        padding: 5%;
    }

    .main__simulator {
        background-size: cover;
        margin-bottom: 15%;
    }

    .main__background_simulator {
        display: none;
    }

    .subtitle__trainer {
        font-size: 1.3em;
    }

    .main__img_trainer {
        margin: 0 auto 20px 0;
    }

    .main__background_trainer {
        top: 200%;
        width: 20rem;
    }
}